name: CD - Deploy to EC2

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker Image"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            IMAGE=${{ secrets.DOCKER_USERNAME }}/myapp
            TAG=${{ github.event.workflow_run.head_sha }}

            sudo apt update -y
            sudo apt install -y docker.io

            sudo docker stop myapp || true
            sudo docker rm myapp || true

            sudo docker pull $IMAGE:$TAG
            sudo docker run -d \
              --name myapp \
              -p 8080:80 \
              --restart always \
              $IMAGE:$TAG
